@using System.Web.Hosting
@using CBTS.Models
@{
    ViewBag.Title = "VBA CBTS";
    var tilestyle = ViewBag.Dev ? "thumbnail" : "thumbnaildisabled thumbnail disabled";

}

@section styles
{


    }
    <div class="indxLft">
        <div class="overview">
            <h2>OVERVIEW</h2>
            <br />
            <p>
                The VA SESCDP aims to develop a diverse set of leaders who demonstrate outstanding executive potential and can provide guidance and leadership to steward the cross-functional, inter-agency challenges of the future. This comprehensive approach is founded upon VA core values and incorporates VA leadership competencies, as well as the five (5) SES executive core qualifications (ECQs), into its curriculum. The SES corps needs executives who can provide strategic leadership and whose commitment to public policy and administration transcends their commitment to any specific agency, mission, or individual profession.  This program seeks to build a pipeline of skilled leadership champions who successfully meet OPM requirements and can provide distinctive vision for VA and other agencies across the Federal Government. 
            </p>
        </div>
    </div>
    <div class="indxRight">
        <div class="learning_objectives">
            <h2>Learning Objectives</h2>
            <p>The VA SESCDP is designed to train, develop, and certify individuals with the readiness and aspiration to lead VA and Federal transformation efforts. Specifically, the Program is designed to achieve the following goals:</p>
            <ul class="list-unstyled">
                <li>
                    Identify individuals who have demonstrated the potential for executive leadership and who possess the basic attributes necessary for becoming skillful and competent VA Senior Executives.
                </li>
                <li>Provide formal training and development opportunities that are designed to enhance and augment candidates’ executive leadership skills, competencies, and characteristics.</li>
                <li>Create a pool of well-developed, qualified, and diverse candidates eligible for SES positions with an enterprise mindset to ensure continuity of operations within VA and provide support across the Federal Government as needed.</li>
                <li>Develop, strengthen, and broaden the candidates’ knowledge and understanding regarding the mission, structure, organizational issues, and operation of VA, thereby fostering executive mobility within VA to achieve continuous organizational renewal.</li>
            </ul>

        </div>
        
</div>


<div class="pagecontent">
    
   

    <h3>Contact Us:</h3>

    <p>For more information please contact the VBA SESCDP Program Manager, Onika Coke-Munoz, at 202-461-9494 or Onika.Coke@va.gov. </p>

    </div>

    @section scripts
    {
        <script src="~/Js/viewportsAdjust.js"></script>

    }
